* {
	box-sizing: border-box;
	font-family: "Rubik", "Helvetica", "Arial", sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	/* height: 100%; */
}

body {
	background: #0099cc;
}

main {
	height: 100%;
}

.container {
	text-align: center;
	background: #FFF;
	margin: auto;
	width: 70%;
	padding: 20px;
	min-height: 40px;
	border-radius: 4px;
	background: #ffffff80;
	/* background: rgba(255, 0, 0, 1.0); */
}

#button {
	text-align: center;
	padding: 10px 28px;
	cursor: pointer;
	font-size: 16px;
	background: #00394d;
	display: inline-block;
	border-radius: 4px;
	color: #fff;
}

#header {
	text-align: center;
	color: #FFBBFF;
	font-size: 3vw;
	margin: 10px 0;
	cursor: pointer;
}